@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.all-doctors-container {
  margin-top: 100px;
}

.doctor-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card_container {
  border: solid;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 2px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(pink,aqua,yellow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card_container:hover {
    transform: translateY(-10px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  }

.card_container img {
  width: 144px;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 10px;
}

.card_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.languages_known {
  display: flex;
  align-items: center;
  gap: 10px;
}

.digital {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin-left: 10px;
}

.hospital {
  display: flex;
  gap: 25px;
}

.hospital button {
  /* background-color: aqua; */
  flex-grow: 1;
  text-align: center;
  border-radius: 20px;
}
.icon-button1
{
    background-color: orange;
}
.icon-button2
{
    background-color: aqua;
}

/* Responsive adjustments */
@media (max-width: 900px) {

  .doctor-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .doctor-cards {
    grid-template-columns: 1fr;
  }
}
.q,.w,.e,.r{
    color: red;
    font-weight: bold;
}
